/*fonts*/

@font-face {
    font-family: museosans100;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-100-webfont.woff);
}

@font-face {
    font-family: museosans300;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-300-webfont.woff);
}

@font-face {
    font-family: museosans500;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-500-webfont.woff);
}

@font-face {
    font-family: museosans700;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-700-webfont.woff);
}

@font-face {
    font-family: museosans900;
    src: url(https://valholl-prd.wowair.com/fonts/museo-sans/museosans-900-webfont.ttf);
}

body {
    font-family: museosans100;
    margin: 0;

}



/*navigatie*/

nav {
    background-color: white;
    margin: 0 1em 1em 1em;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1em 0em 0.5em 0em;
    border-bottom: 1px solid #A6C4C4;
    height: 3.1em;
}

nav img {
    height: 4.125rem;
}

nav a {
    margin: 0;
}

nav svg {
    width: 2.8rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-top: 0.5em;
    right: 0em;
    list-style: none;
}


/*header*/

header h1 {
    margin-top: 0em;
    margin-bottom: -6em;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    position: relative;
    padding: 1em;
    color: white;
    padding-left: 1em;
    padding-right: 25%;
    font-family: museosans900;
    font-size: 2rem;
    z-index: -1;
}



/*aanbevolen verhaal*/

h2#aanbevolen {
    margin-left: 1rem;
    margin-bottom: 0em;
    margin-top: 1em;
}

h5 {
    margin-left: 1rem;
    margin-top: 0em;
    font-family: museosans100;
    color: #6d105c;
}

section#aanbevolenfilter article {
    height: 19em;
    margin-top: 3rem;
}

section section {
    background-color: #f6f6f6;
    border: solid #eaeaea 1px;
    margin-top: 2rem;
    padding: 1em 0em;
    width: 20em;
    height: 27.5em;
    margin-left: auto;
    margin-right: auto;
}


/*media queries*/

@media only screen and (min-width: 48em) {
    #aanbevolenfilter {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    section#filter {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    section#abv {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .articles {
        width: 43em;
    }

    main {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2em;
    }

    header h1 {
        font-size: 3em;
        background-size: 100% 80%;
    }

}

@media only screen and (min-width: 80em) {
    #aanbevolenfilter {
        display: flex;
        flex-direction: row-reverse;
    }

    #filter {
        width: 32.4em;
    }

    .articles {
        width: 43em;
    }

    main {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
    }

    body {
        margin: em;
        border: solid 8px #99258d;
    }

    header h1 {
        font-size: 5em;
        background-size: 100% 60%;
    }

}


/*filter*/

section#filter {
    background-color: none;
    ;
    border: none;
    width: 20.4em;
    margin-left: auto;
    margin-right: auto;
    border: solid #eaeaea 1px;
}

h2 {
    font-family: museosans700;
    font-size: 1.5em;
    color: #6d105c;
    margin-top: 1.5em;
    margin-left: 1em;
}

section#filter form header {
    background-color: #952D87;
    color: white;
    font-family: museosans700;
    display: flex;
    height: 2.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

section#filter,
form {
    padding: 1em 0em;
}

section#filter fieldset legend {
    font-size: 1em;
    font-family: museosans500;
    margin-bottom: -1em;
}

button.trending {
    border: none;
    background-color: white;
    font-family: museosans100;
    font-size: 1em;
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 0em;
    box-shadow: 3px 3px 3px 0px #ddd;
}

button.trending img {
    width: 1.5em;
    position: absolute;
    margin-left: -9.5rem;
}

section#filter li {
    list-style: none;
    padding-left: 0em;
}

section#filter li .verhaal {
    margin-left: 1em;
}

section#filter li:first-of-type label {
    font-family: museosans500;
}

section#filter li.genre {
    padding-left: 0em;
    margin: auto;
}

button#toepassen {
    background-color: #FFDF5C;
    border: none;
    width: 14em;
    height: 2em;
    box-shadow: 2px 2px 5px 1px #ccc;
    color: #6d105c;
    font-family: museosans500;
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 1.3em;
}

legend {
    font-size: 1em;
    font-family: museosans500;
}

fieldset {
    border: none;
    font-size: 1em;
}

form ul {
    padding-left: 0;
    margin-bottom: 0em;
}

form li {
    list-style: none;
}

select {
    display: block;
    border: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    padding: .5em 2em;
    font-size: 1em;
    font-family: museosans100;
    box-shadow: 3px 3px 3px 0px #ddd;
}

form input {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    margin: .5rem auto;
}

/*verhalen*/

.articles {
    background: #F6F6F6;
    border: solid #eaeaea 1px;
    margin-top: 2rem;
    padding: 1em 0em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

article a {
    margin: 0;

}

article h3 {
    position: absolute;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 7em;
    color: black;
    padding-bottom: .2em;
    border-bottom: gold solid 4px;
}

article img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    object-position: center center;
}

article svg {
    position: absolute;
}

article {
    background: white;
    border: solid #A6C4C4 1px;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 2rem;
    position: relative;
    font-size: 1em;
    height: 18rem;
    width: 86%;
}

/*tekentjes in article*/

article ul {
    position: static;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: .5rem 1rem 2rem 1rem;
    margin-bottom: 1em;
}

article li {
    font-size: 0.8em;
}

article li img {
    width: 1.5em;
    height: 1.5em;
    margin-top: 2.5rem;
    margin-bottom: -.35rem;
}

article ul li:last-of-type {
    position: absolute;
    right: 0rem;
}

img.download {
    margin: 0;
    padding-right: 1rem;
    width: 2rem;
    height: 2rem;
}

article h3,
article p,
a {
    margin-left: 1rem;
}

article h3 {
    margin-top: 8.7rem;
}

article p,
article a {
    font-size: 0.8em;
}

article p {
    margin: .5em 1em;
    margin-left: 1rem;
}

/*opmaak voor javascript hartje*/

article button {
    background-color: #FFDF5C;
    position: absolute;
    top: -1rem;
    right: -1rem;
    border: none;
    color: #952D87;
    font-family: museosans700;
    text-align: center;
    box-shadow: 1px 1px 3px .5px #e3e3e3;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    align-items: flex-start
}

article button svg {
    display: flex;
    justify-content: center;
    margin-left: .5em;
    margin-top: -.5em;
    width: 2rem;
    margin-top: -1em;
}

article button svg path {
    fill: #ffdf5c;
    stroke: #952D87;
    stroke-miterlimit: 10;
    stroke-width: 65px;
}

article button svg path.stijl {
    fill: #952D87;
}

article button svg.stijl {
    animation-name: hoi;
    animation-duration: 1s;
}

article button span {
    position: absolute;
    right: 1.5em;
    margin-top: -.5em;
}

article button span.stijl {
    color: #ffdf5c;
}

@keyframes hoi {
    100% {
        transform: scale(1.2);
    }
}

footer {
    text-align: center;
}